<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>JohoGen - {{title}}</title>
    {% else %}
        <title>JohoGen</title>
    {% endif %}
</head>
<body>
    <nav class = "nav-bar" style = "height: 100px; opacity: 1; display: flex; align-items: center; justify-content: space-between; background-color: #2D2E44;">
        <img src = "{{ url_for('static', filename='Logo.png') }}" alt = "JohoGen's Logo", style = "height: 80px">
        
        <div class = "navbar-links" style = "opacity: 1; color: white;">
            <a class="navbar-link" href="/about">About</a>
            <a class="navbar-link" href="https://www.linkedin.com/in/brandonc2025/">LinkedIn</a>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>