<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>JohoGen - {{title}}</title>
    {% else %}
        <title>JohoGen</title>
    {% endif %}
</head>
<body>
    <nav class = "nav-bar" style = "height: 60px; opacity: 1;">
        <img src = "./Logo.png" alt = "JohoGen's Logo">
        <div class = "navbar-links" style = "opacity: 1;">
            <a class="navbar-link" href="/about">About</a>
            <a class="navbar-link" href="https://www.linkedin.com/in/brandonc2025/">LinkedIn</a>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>